@import "reset.css";
@import url("https://fonts.googleapis.com/css2?family=Piazzolla:ital,opsz,wght@0,8..30,100..900;1,8..30,100..900&display=swap");
@import "font.css";
body {
  display: flex;
  flex-direction: column;
  background-color: #ffecc1;
  align-items: center;
  overflow-x: hidden;
}
h1 {
  z-index: 6;
  color: #ffecc1;
  margin-top: -50px;
  text-align: center;
  font-size: 15vw;
  font-weight: 900;
  line-height: 78%;
}
h2 {
  font-size: 5em;
  font-weight: 500;
  color: #2c221a;
  text-transform: uppercase;
  width: max-content;
}
p {
  color: #ffecc1;
  text-align: center;
  font-size: 2.7em;
  font-weight: 600;
  line-height: 89%;
}
footer {
  overflow: hidden;
  display: flex;
  align-self: stretch;
}
.label {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  height: 100svh;
  overflow: hidden;
}
.runningLine {
  width: 100%;
  height: 6em;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
.red {
  background-color: #f05b51;
}
.yellow {
  background-color: #f3b545;
}
.green {
  background-color: #96a757;
}
.white {
  background-color: #ffecc1;
}
.black {
  background-color: #2c221a;
}
.whiteText {
  color: #ffecc1;
}
.screen2,
.screen4 {
  display: flex;
  align-self: stretch;
}
.screenSizeBox {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}
.rowScreenSizeBox {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100vh;
}
.runningLineProduct {
  width: 100%;
  height: 10%;
  overflow: hidden;
  position: relative;
  z-index: 4;
}
.screen3 {
  overflow: hidden;
  display: flex;
  justify-content: stretch;
  align-items: center;
  align-self: stretch;
  flex-direction: column;
  height: 100vh;
}
.columnBlock {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.rowBlock {
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
.cal1 {
  position: absolute;
  left: 30%;
  width: 50%;
  height: auto;
  transform: scale(1, 1);
  transition: transform 0.4s ease;
}
.cal2 {
  width: 50%;
  height: auto;
  color: #b9ab8a;
  transition: color 0.4s ease;
}
.date:hover {
  .cal1 {
    transform: scale(1, 0.05) translateY(-650%);
  }
  .cal2 {
    color: #ebd9af;
  }
}
.dateLeaf {
  width: 30%;
  height: auto;
  transform: translateY(10%);
}
.adress {
  position: relative;
  background-image: url("../assets/img/Map.svg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.leaf {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  img {
    transform: rotate(0deg);
    transition: width 1s ease, transform 1s ease;
    height: auto;
    width: 30%;
  }
  img:hover {
    width: 70%;
    transform: rotate(180deg);
  }
}
.date {
  position: relative;
  padding-top: 20px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}
.taxi {
  align-items: center;
  p {
    color: #fbe7d6;
    text-align: center;
    font-size: 2.3em;
    font-weight: 900;
    line-height: 89%;
  }
}
.emblem {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 100%;
  img {
    animation: emblemAnim 3s linear infinite;
    animation-play-state: running;
    height: auto;
    width: 100%;
  }
  img:hover {
    animation-play-state: paused;
  }
}
.taxiCar {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  width: 100%;
  height: 100%;
  img {
    height: 80%;
    animation: taxiAnim 3s linear infinite;
    animation-timing-function: cubic-bezier(0.57, 0.4, 0.55, 1.17);
    width: auto;
  }
}
@keyframes taxiAnim {
  0% {
    transform: translateX(-200%) translateY(-15%) scale(1, 1);
  }
  40% {
    transform: translateX(-10%) translateY(-15%) scale(1, 1);
  }
  45% {
    transform: translateX(-10%) translateY(-15%) scale(1, 1.2);
  }
  50% {
    transform: translateX(-10%) translateY(-15%) scale(1, 1);
  }
  55% {
    transform: translateX(-10%) translateY(-15%) scale(1, 1.2);
  }
  60% {
    transform: translateX(-10%) translateY(-15%) scale(1, 1);
  }
  100% {
    transform: translateX(200%) translateY(-15%) scale(1, 1);
  }
}

.saleWord {
  color: #96a757;
  animation: sw1 3s linear infinite;
}
.saleWord2 {
  color: #f3b545;
  animation: sw2 3s linear infinite;
}

@keyframes sw1 {
  0% {
    color: #96a757;
  }
  50% {
    color: #ffecc1;
  }
  100% {
    color: #96a757;
  }
}

@keyframes sw2 {
  0% {
    color: #f3b545;
  }
  50% {
    color: #ffecc1;
  }
  100% {
    color: #f3b545;
  }
}

.tree {
  align-self: stretch;
  width: 100%;
  perspective: 800px;
  height: 100%;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  img {
    height: 90%;
    width: auto;
    animation: treeAnim 3s linear infinite;
  }
}
@keyframes treeAnim {
  0% {
    transform: translateY(-5%) rotateY(0);
  }
  100% {
    transform: translateY(-5%) rotateY(360deg);
  }
}
.time {
  background-color: #96a757;
  p {
    font-size: 7em;
    color: #2c221a;
    animation: timeTextAnim 3s linear infinite;
    font-style: italic;
    font-weight: 700;
    line-height: 100%;
  }
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
  align-self: stretch;
  width: 100%;
  animation: timeBGAnim 3s linear infinite;
  height: fit-content;
}
@keyframes timeBGAnim {
  0% {
    background-color: #96a757;
  }
  50% {
    background-color: #2c221a;
  }
  100% {
    background-color: #96a757;
  }
}
@keyframes timeTextAnim {
  0% {
    color: #2c221a;
  }
  50% {
    color: #ffecc1;
  }
  100% {
    color: #2c221a;
  }
}
.timeLine {
  img {
    height: auto;
    width: 25%;
  }
  display: flex;
  justify-content: space-between;
  width: 90%;
}
.saleText,
.aboutTick {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: 20%;
}
.tickGame,
.leafsDrop {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 80%;
}
.productShow {
  position: relative;
  height: 80%;
  width: 100%;
}
.aboutMe {
  display: flex;
  flex-wrap: nowrap;
  align-items: flex-start;
}
.runningText {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  white-space: nowrap;
  animation: runAnimMain 14s linear infinite;
}
.leafses {
  width: 100%;
  position: relative;
  overflow: hidden;
  animation: dropAnimMain 2s linear infinite;
}

.mainText {
  align-items: center;
  justify-content: center;
}
.qr {
  height: 100%;
  width: auto;
  transform: translateY(3%);
}
.table {
  background-color: #68513c;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 40%;
  z-index: 0;
}
.el1 {
  width: 15vw;
  position: absolute;
  left: 0%;
  bottom: 0%;
  animation: el1Anim 5s linear infinite;
}
@keyframes el1Anim {
  0% {
    transform: translateY(30%);
  }
  50% {
    transform: translateY(-400%);
  }
  100% {
    transform: translateY(30%);
  }
}
.el2 {
  width: 25vw;
  right: 0%;
  bottom: 0%;
  animation: el1Anim 5s linear infinite;
  position: absolute;
}
.el3 {
  left: 0%;
  width: 15vw;
  position: absolute;
  animation: el2Anim 5s linear infinite;
}
@keyframes el2Anim {
  0% {
    transform: translateY(-100%);
  }
  50% {
    transform: translateY(400%);
  }
  100% {
    transform: translateY(-100%);
  }
}
.el4 {
  right: 10%;
  width: 25vw;
  position: absolute;
  animation: el2Anim 5s linear infinite;
}
.el5 {
  right: 40%;
  width: 15vw;
  position: absolute;
  animation: el2Anim 5s linear infinite;
}
.el6 {
  left: 20%;
  width: 25vw;
  bottom: 0%;
  animation: el1Anim 5s linear infinite;
  animation-delay: 1s;
  position: absolute;
  animation: el2Anim 5s linear infinite;
}
.el7 {
  left: 60%;
  bottom: 0%;
  animation: el1Anim 5s linear infinite;
  position: absolute;
  animation: el2Anim 5s linear infinite;
}
.el8 {
  top: 10%;
  left: 30%;
  position: absolute;
  animation: el2Anim 5s linear infinite;
}
@keyframes emblemAnim {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes dropAnimMain {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes runAnimMain {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-50%);
  }
}
.ticket1 {
  position: absolute;
  top: -50%;
  animation: ticket1Anim 400ms linear infinite;
  animation-delay: 0s;
  animation-play-state: running;
}
.ticket2 {
  position: absolute;
  top: -50%;
  animation: ticket1Anim 440ms linear infinite;
  animation-delay: 1s;
  animation-play-state: running;
}
.ticket3 {
  position: absolute;
  right: 0;
  top: -50%;
  animation: ticket1Anim 460ms linear infinite;
  animation-delay: 3s;
  animation-play-state: running;
}
.ticket4 {
  position: absolute;
  right: 0;
  top: -50%;
  animation-delay: 2s;
  animation: ticket1Anim 420ms linear infinite;
  animation-play-state: running;
}
@keyframes ticket1Anim {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(360%);
  }
}
.ticket1:hover,
.ticket2:hover,
.ticket3:hover,
.ticket4:hover {
  animation-play-state: paused;
  z-index: 6;
}
.paymant {
  position: relative;
}
.hand1 {
  position: absolute;
  z-index: 5;
  animation: hand1Anim 5s ease-in-out infinite;
}
.hand2 {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 5;
  animation: hand2Anim 5s ease-in-out infinite;
}
.money1 {
  position: absolute;
  left: 20%;
  animation: money1Anim 5s ease-in-out infinite;
}
.money2 {
  position: absolute;
  left: 20%;
  animation: money2Anim 5s ease-in-out infinite;
}
.money3 {
  position: absolute;
  left: 20%;
  animation: money3Anim 5s ease-in-out infinite;
}

@keyframes hand1Anim {
  0% {
    transform: translateX(-100%);
  }
  25% {
    transform: translateX(-100%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes hand2Anim {
  0% {
    transform: translateX(100%);
  }
  25% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(100%);
  }
}
@keyframes money1Anim {
  0% {
    transform: translateX(-400%);
  }
  25% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(200%) translateY(500%);
  }
  100% {
    transform: translateX(600%) translateY(500%);
  }
}
@keyframes money2Anim {
  0% {
    transform: translateX(-400%);
  }
  25% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(220%) translateY(450%);
  }
  100% {
    transform: translateX(600%) translateY(500%);
  }
}
@keyframes money3Anim {
  0% {
    transform: translateX(-400%);
  }
  25% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(240%) translateY(470%);
  }
  100% {
    transform: translateX(600%) translateY(500%);
  }
}

.goTo {
  position: relative;
}
.kid {
  position: absolute;
  left: 0%;
  bottom: 0;
  animation: kidAnim 7s ease-in-out infinite;
}
@keyframes kidAnim {
  0% {
    transform: translateX(-100%) rotateY(0);
  }
  50% {
    transform: translateX(200%) rotateY(0);
  }
  51% {
    transform: translateX(200%) rotateY(180deg);
  }
  100% {
    transform: translateX(-100%) rotateY(180deg);
  }
}
.tea {
  position: absolute;
  z-index: 6;
  height: 80%;
  transform: translateX(140%) translateY(20%);
  animation: teaAnim 5s ease-in-out infinite;
}
@keyframes teaAnim {
  0% {
    transform: translateX(140%) translateY(20%) scale(1, 1);
  }
  25% {
    transform: translateX(250%) translateY(15%) scale(0.8, 0.8);
  }
  50% {
    transform: translateX(390%) translateY(15%) scale(0.8, 0.8);
  }
  50.00005% {
    transform: translateX(-100%) translateY(15%) scale(0.8, 0.8);
  }
  75% {
    transform: translateX(20%) translateY(15%) scale(0.8, 0.8);
  }
  100% {
    transform: translateX(140%) translateY(20%) scale(1, 1);
  }
}
.tea1 {
  position: absolute;
  z-index: 6;
  height: 80%;
  transform: translateX(140%) translateY(20%);
  animation: tea1Anim 5s ease-in-out infinite;
}
@keyframes tea1Anim {
  0% {
    transform: translateX(-100%) translateY(15%) scale(0.8, 0.8);
  }
  25% {
    transform: translateX(20%) translateY(15%) scale(0.8, 0.8);
  }
  50% {
    transform: translateX(140%) translateY(20%) scale(1, 1);
  }
  75% {
    transform: translateX(250%) translateY(15%) scale(0.8, 0.8);
  }
  100% {
    transform: translateX(390%) translateY(15%) scale(0.8, 0.8);
  }
}

.honey {
  position: absolute;
  z-index: 6;
  height: 45%;
  transform: translateX(450%) translateY(85%);
  animation: honeyAnim 5s ease-in-out infinite;
}
@keyframes honeyAnim {
  0% {
    transform: translateX(450%) translateY(85%) scale(1, 1);
  }
  25% {
    transform: translateX(640%) translateY(85%) scale(1, 1);
  }
  25.00005% {
    transform: translateX(-100%) translateY(85%) scale(1, 1);
  }
  50% {
    transform: translateX(110%) translateY(85%) scale(1, 1);
  }
  75% {
    transform: translateX(260%) translateY(85%) scale(1.2, 1.2);
  }
  100% {
    transform: translateX(450%) translateY(85%) scale(1, 1);
  }
}
.leafHair {
  position: absolute;
  z-index: 6;
  height: 70%;
  transform: translateX(30%) translateY(30%);
  animation: hairAnim 5s ease-in-out infinite;
}
@keyframes hairAnim {
  0% {
    transform: translateX(30%) translateY(30%) scale(1, 1);
  }
  25% {
    transform: translateX(140%) translateY(30%) scale(1.3, 1.3);
  }
  50% {
    transform: translateX(260%) translateY(30%) scale(1, 1);
  }
  75% {
    transform: translateX(400%) translateY(30%) scale(1, 1);
  }
  75.00005% {
    transform: translateX(-100%) translateY(30%) scale(1, 1);
  }
  100% {
    transform: translateX(30%) translateY(30%) scale(1, 1);
  }
}
.productText {
  transform: translateX(-5%);
  animation: prTextAnim 5s ease-in-out infinite;
}
@keyframes prTextAnim {
  0% {
    transform: translateX(-5%);
  }
  25% {
    transform: translateX(-20%);
  }
  50% {
    transform: translateX(-35%);
  }
  75% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(-75%);
  }
}
.deal {
  position: relative;
}
.hair2 {
  position: absolute;
  height: 50%;
  animation-delay: 2s;
  animation: hair2Anim 5s ease-in-out infinite;
}
.tea2 {
  position: absolute;
  height: 40%;
  right: 0;
  animation-delay: 2s;
  animation: tea2Anim 5s ease-in-out infinite;
}
.card {
  position: absolute;
  bottom: -10%;
  width: 150%;
  animation-delay: 2s;
  animation: cardAnim 5s ease-in-out infinite;
}
@keyframes hair2Anim {
  0% {
    transform: translateX(-400%);
  }
  25% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(200%) translateY(500%);
  }
  100% {
    transform: translateX(600%) translateY(500%);
  }
}
@keyframes tea2Anim {
  0% {
    transform: translateX(-400%);
  }
  25% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(-20%) translateY(500%);
  }
  100% {
    transform: translateX(300%) translateY(500%);
  }
}
@keyframes cardAnim {
  0% {
    transform: translateX(-400%);
  }
  25% {
    transform: translateX(-400%);
  }
  50% {
    transform: translateX(0%);
  }
  75% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(300%);
  }
}
.mapPoint {
  position: absolute;
  width: 8%;
  transform: translateX(1000%) translateY(130%);
  transform-origin: left bottom;
  animation: mapPointAnim 1s linear infinite;
}
@keyframes mapPointAnim {
  0% {
    transform: translateX(1005%) translateY(130%) rotate(-30deg);
  }
  25% {
    transform: translateX(1005%) translateY(130%) rotate(0deg);
  }
  50% {
    transform: translateX(1005%) translateY(130%) rotate(30deg);
  }
  75% {
    transform: translateX(1005%) translateY(130%) rotate(0deg);
  }
  100% {
    transform: translateX(1005%) translateY(130%) rotate(-30deg);
  }
}

@media (max-width: 1050px) {
  .screen2,
  .screen4 {
    flex-direction: column;
  }
  .el1 {
    bottom: 5%;
    width: 25vw;
  }
  .el2 {
    bottom: 5%;
    width: 35vw;
  }
  .el3 {
    top: 5%;
    width: 25vw;
  }
  .el4 {
    top: 5%;
    width: 35vw;
  }
  .el5 {
    top: 5%;
    width: 25vw;
  }
  .el6 {
    bottom: 5%;
    width: 35vw;
  }
  .el8 {
    top: 15%;
    width: 15vw;
  }
  .el7 {
    width: 15vw;
    left: 50%;
    bottom: 5%;
  }
  .taxiCar {
    img {
      height: 70%;
      width: auto;
    }
  }
}
@media (max-width: 500px) {
  .taxiCar {
    img {
      height: 60%;
      width: auto;
    }
  }
  .runningLineProduct {
    width: 100%;
    height: 15%;
  }
  .rowBlock {
    flex-direction: column;
  }
  .screenSizeBox {
    height: fit-content;
  }
  .rowScreenSizeBox {
    flex-direction: column;
    height: fit-content;
  }
  .mobileSizeOnly {
    height: 100vh;
  }
  .el1 {
    left: 0%;
    width: 35vw;
    bottom: 10%;
  }
  .el2 {
    width: 45vw;
    right: 40%;
    bottom: 10%;
  }
  .el3 {
    top: 10%;
    width: 35vw;
    left: 0%;
  }
  .el4 {
    width: 45vw;
    right: 5%;
  }
  .el5 {
    top: 25%;
    width: 35vw;
    right: 50%;
  }
  .el6 {
    width: 45vw;
    left: 20%;
    bottom: 10%;
  }
  .el7 {
    width: 25vw;
    left: 60%;
    bottom: 10%;
  }
  .el8 {
    width: 25vw;
    top: 10%;
    left: 30%;
  }
}
